name: Serenity Tests with GitHub Pages

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.idea/**'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 22
      uses: actions/setup-java@v5
      with:
        java-version: '22'
        distribution: 'temurin'
        cache: 'maven'

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
          python-version: 3.12.4

    - name: Create .env file
      run: echo "ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}" >> .env

    - name: Run Serenity tests
      run: |
        mvn clean verify \
          -Djira.url=${{ secrets.JIRA_URL }} \
          -Djira.project=${{ secrets.JIRA_PROJECT }} \
          -Djira.username=${{ secrets.JIRA_USERNAME }} \
          -Djira.password=${{ secrets.JIRA_PASSWORD }} \
          -Dserenity.public.url=https://vanessahoamea.github.io/github-api-test/reports
          -Dserenity.jira.workflow.active=true

    - name: Sanitize secrets from reports
      if: always()
      run: |
        python .github/scripts/sanitize_reports.py ./target ${{ secrets.ACCESS_TOKEN }}

    - name: Deploy to GitHub Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/site/serenity
        destination_dir: reports
